

/*social*/
div.social ul {
	list-style: none;
	padding: 0;
}

div[class='social'] a {
	background-repeat: no-repeat;
	padding-left: 25px;
}

.social a[href*='twitter.com'] {
	background-image: url('../images/icons/twitter.png');
}
.social a[href*='slideshare.net'] {
	background-image: url('../images/icons/slideshare.png');
}
.social a[href*='stackoverflow.com'] {
	background-image: url('../images/icons/stackoverflow.png');
}
.social a[href*='github.com'],
.social a[href*='git.io'] {background-image: url('../images/icons/github.png');}
.social a[href*='linkedin.com'] {background-image: url('../images/icons/linkedin.png');}
.social a[href*='xing.com'] {background-image: url('../images/icons/xing.png');}

/*tag cloud*/
div.tagcloud ul {
	list-style: none;
	padding: 0;
}

div.tagcloud ul li {
	display: inline-block;
	font-size: 100%;
}

div.tagcloud li.tag-0 {
	font-size: 160%;
}

div.tagcloud li.tag-1 {
	font-size: 140%;
}

div.tagcloud li.tag-2 {
	font-size: 120%;
}

div.tagcloud li.tag-3 {
	font-size: 110%;
}

/*pagination*/
.pagination ul {
	box-shadow:none;
}

/*twitter widget*/
.twitter-widget {
	padding-top: 15px;
}

/*footer*/
#footer {
	height: 60px;
	background-color: #f5f5f5;
	text-align: center;
}

blockquote {
	margin: 20px;
	font-style: italic;
}

hr { 
	border: 2px solid #EEEEEE;
	border-radius: 2px;
}

/*anchors*/
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	text-decoration: none;
}

a:hover {
	background-color: #08c;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #cece;
}

h1 a:hover {
	background: none;
	color: #08c;
	font-weight: bold;
	text-decoration: underline;
}

a.brand:hover {
	background: none;
}

.social a:hover {
	background-color: transparent;
	color: #08c;
}

/*about page*/
#about-author .photo {
	border: 1px solid #ddd; 
	float: left; 
	margin: 5px 1em 0 0;
}

.post-info {
	padding-bottom: 10px;
}

.published {
	color: #929191;
	font-size: 90%;
}

.tags {
	font-size: 90%;
}

.comments {
	font-size: 90%;
}
